.login{
    border-radius: 50px;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3%;
    /* padding-top: 3%;    
    padding-bottom: 3%; */
    background-color:rgb(175, 228, 173);
    background-color: #e5e5f7;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-linear-gradient(45deg, rgb(175, 228, 173) 25%, transparent 25%, transparent 75%, rgb(175, 228, 173) 75%, rgb(175, 228, 173)), repeating-linear-gradient(45deg, rgb(175, 228, 173) 25%, #e5e5f7 25%, #e5e5f7 75%, rgb(175, 228, 173) 75%, rgb(175, 228, 173));
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}
body{
    background-image: url("C:\Users\shiva\Downloads\1558939.jpg");
    background-size: cover;
    height: 80vh;
}
.formdiv {
    margin-bottom: 20px;
}
  
.credlabel{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}
.logincred{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #ccc;
    font-size: 16px;
    margin-top: 5px;
}
  
.but{
    background-color: #3ca123;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  